{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  <h1>Hi {{ user.username }}!</h1>
  <img src="{% static 'img/default_avatar.png'%}" height="200">
  <p><a href="{% url 'settings' %}">Settings</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <p><a href="{% url 'login' %}">Log In</a></p>
  <p><a href="{% url 'signup' %}">Sign Up</a></p>
{% endif %}
{% endblock %}